@use '../globals/' as *;
@use '../parts/common' as *;



.main {
  &__other-info {
    margin-top: 2.5em;
    & > .aside-contents {
      @include mq(lg) {
        margin-top: unset;
      }
    }
    & .news {
      &__list {
        gap: .75em;
        & .image-wrapper {
          @include mq(lg) {
            display: none;
          }
        }
      }
      &__headline {
        padding-bottom: .75em;
        border-bottom: 1px dotted #999;
      }
      &__contents {
        flex-basis: 100%;
      }
      &__title {
        font-size: 1em;
      }
      &__date {
        margin-top: .25em;
        padding: 0;
        background-color: unset;
      }

    }
  }
  &__header3.link-inner {
    position: relative;
    & > .pre-mark__orange-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  &__other-info-banners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .75em;
    @include mq(lg) {
      flex-direction: column;
      align-items: unset;
      flex-wrap: unset;
      row-gap: 1em;
    }
    & > li {
      flex-basis: calc((100% - .75em) / 2);
      @include mq(lg) {
        flex-basis: unset;
        height: 100%;
      }
      & .image-wrapper {
        margin-bottom: unset;
      }
    }
  }
}

.blog-index {
  @include mq(lg) {
  }
}