@use "../globals" as *;
@use '../parts/common' as *;

.question-bg {
  display: inline-block;
  position: relative;
  margin-bottom: 1.5em;
  padding: 10px 10px;
  line-height: 1.3;
  text-align: left;
  background-color: #FFF;
  border: $cTheme solid 2px;
  &::before {
    display: block;
    position: absolute;
    bottom: -20px;
    left: 4em;
    transform: translateX(-24%);
    margin-left: -10px;
    content: '';
    border-width: 25px 0px 0px 25px;
    border-style: solid;
    border-color: #FFF transparent;
    z-index: 1;
  }
  &::after {
    display: block;
    position: absolute;
    bottom: -25px;
    left: 4em;
    margin-left: -14px;
    content: '';
    border-width: 25px 0px 0px 25px;
    border-style: solid;
    border-color: $cTheme transparent;
    z-index: 0;
  }
  &__contents {
    position: relative;
    padding-left: 1.75em;
    font-feature-settings: "palt" 1;
    &::before {
      position: absolute;
      top: -.25em;
      // transform: translateY(-50%);
      left: 0;
      content: "Q.";
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      color: $cOrangeDk;
    }
  }
}