# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-content/ai1wm-backups/
/wp-content/blogs.dir/
/wp-content/languages/
/wp-content/plugins/
/wp-content/siteguard/
/wp-content/updraft/
/wp-content/upgrade/
/wp-content/upgrade-temp-backup/
/wp-content/uploads/

# Configuration
wp-config.php

# Example plugin
/wp-content/plugins/

# Uploads
/wp-content/uploads/
/wp-content/updraft/

# Plugins フォルダ全体を無視

# 特定のファイル形式を無視
*.zip
*.tar.gz

# Log files
*.log

# htaccess
/.htaccess

# my remove
.DS_Store
tmp/
