@charset "utf-8";
/* CSS Document */

html,
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

/* スマートフォンで見たときは"mv"のclassがついた画像が表示される */
.mv {display: block !important;}
.pc {display: none !important;}

.clearText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.fL {
    float: left;
}
.fR {
    float: right;
}
.fClear{
    clear: both;
}
.aC {
    margin-left: auto;
    margin-right: auto;
}
.tC {
    text-align: center;
}
.tI1 {
    margin-left: 1em;
    text-indent: -1em;
}
.tI5 {
    margin-left: 5em;
    text-indent: -5em;
}
.lH_narrow {
    line-height: 1.2em;
}

.imagesC {
  position: relative; 
  overflow: hidden; 
}

.imagesC ul {
  position: relative;
  left: 50%; 
  float: left;
}

.imagesC ul li {
  position: relative;
  left: -50%; 
  float: left;
  list-style: none; 
}

header {
    padding: 0px 10px 0px 10px;
}

footer {
    padding: 20px 30px;
    background-color: #ffffaa;
}

.style-logo {
    margin: 3px auto 3px auto;
    display: block;
    background: url(../image/logo-mv.png) center bottom no-repeat;
}

h1 {
    font-size: 17px;
    font-weight: 300;
    }
    .h1_bk {
        background: #222F25;
        padding: 0.25em 10px 0.25em;
        color: #FFFFFF;
        text-align: center;
    }

h4 {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 0.25em;
    }
    .overview h4 {
        position: relative;
        display: inline-block;
        padding: 0 130px;
        color: #0071bc;
    }
    .overview h4:before, .overview h4:after{
        content: '';
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 120px;
        height: 2px;
        background-color: #0071bc;
    }
    .overview h4:before{
        left: 0;
    }
    .overview h4:after{
        right: 0;
    }

p {
    font-size: 15px;
}

.fontS {
    font-size: 70%;
}

.fontL {
    font-size: 110%;
    font-weight: 200;
}

.blue {
    color: #0071bc;
}

.green {
    color: #22b573;
}

.orange {
    color: #f7931e;
}

.main_img {
    height: 264px;
    display: block;
/*    background: url(../image/main_img2021-mv.jpg) center top no-repeat;*/
/*    background:url("../image/main_img2022.jpg") center top no-repeat;*/
    background:url("../image/main_img2023_end.jpg") center top no-repeat;
    background-color: #5dc1cf;
    background-size: cover;
}

.period-box {
    background-color: #ffffaa;
    padding: 10px 10px;
    color: #ff0000;
    text-align: center;
    }
    .period-box p {
        font-size: 17px;
    }

.meaning-box {
    background-color: #5dc1cf;
    padding: 20px 15px;
    color: #FFFFFF;
}

.overview-box {
    padding: 15px 15px;
}

.style-theme {
/*    background: url(../image/img02_03-mv.png) center no-repeat;*/
    background-size: contain;
    }
    .style-theme ul {
        list-style-type: none;
        margin-bottom: 1em;
    }
    .style-theme ul li {
        font-size: 16px;
        text-align: center;
        display: block;
        padding: 0.5em;
    }

.style-method {
    background: none;
    }
    .style-method ul {
        list-style-type: none;
    }
    .style-method ul li {
        font-size: 16px;
        text-align: center;
        display: block;
        padding: 0.5em;
    }
    .style-method ul:after {
        content: "";
        clear: both;
        display: block;
    }

.row:before, .row:after {
    content: "";
    display: table;
    }
    .row:after {
        clear: both;
    }

.button {
    width: 146px;
    height: 34px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url(../image/next_bt-mv.png);
    text-decoration: none;
    }
    .button:hover {
        opacity: 0.5;
    }

.button2 {
    width: 146px;
    height: 34px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url(../image/next_bt2-mv.png);
    text-decoration: none;
    }
    .button2:hover {
        opacity: 0.5;
    }

.footer-text {
    font-size: 11px;
}


/*//////////////////////PC用//////////////////////*/
/*@media (min-width: 1024px) {*/
@media (min-width : 800px ){
    .style-logo {
        margin: 10px auto 3px auto;
        background: url(../image/logo.png) center bottom no-repeat;
    }

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.mv {display: none !important;}
.pc {display: block !important;}

    h1 {
        font-size: 35px;
    }

    h4 {
        font-size: 35px;
        margin-bottom: 10px;
        }
        .overview h4 {
            padding: 0 300px;
        }
        .overview h4:before, .overview h4:after{
            width: 290px;
        }

    p {
        font-size: 23px;
    }

    .main_img {
/*        height: 1050px;*/
        height: 700px;
        background:url("../image/main_img2023_end.jpg") center top no-repeat;
        background-color: #5dc1cf;
        background-size: cover;
    }

    .period-box p {
        font-size: 33px;
    }

    .inner_box {
        width: 800px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .style-theme {
        background: none;
        }
        .style-theme ul li {
            font-size: 24px;
            display: inline-block;
        }
        .style-theme ul {
            text-align: center;
        }

    .style-method {
        background: none;
        }
        .style-method ul li {
            font-size: 24px;
            display: inline-block;
            vertical-align: bottom;
            float: left;
            width: 50%;
/*            width: 33%;*/
        }
        .style-method ul {
            text-align: center;
        }

    .button {
        width: 242px;
        height: 56px;
        margin-top: 10px;
        background-image: url(../image/next_bt.png);
        text-decoration: none;
    }

    .button2 {
        width: 242px;
        height: 56px;
        margin-top: 10px;
        background-image: url(../image/next_bt2.png);
        text-decoration: none;
    }
}
