@use '../globals/' as *;
@use '../parts/common' as *;

.main {
  position: relative;
  width: 90%;
  max-width: $contentMaxWidth;
  margin: 0 auto;
  padding: 50px 0 60px;
  line-height: 1.5;
  z-index: 2;
  &__inner {
    &:not(:first-of-type) {
      margin-top: 2rem;
    }
  }
  &__header3 {
    position: relative;
    margin-bottom: 1rem;
    padding-left: .5em;
    font-size: 1.4em;
    line-height: 1.3;
    font-weight: 900;
    font-feature-settings: "palt" 1;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 5px;
      min-height: 1.3em;
      background-color: $cTheme;
    }
    &.two-lines-height::before {
      min-height: 2.5em;
    }
  }
  &__header4 {
    margin-top: 1em;
    padding: 5px 10px;
    font-family: $fontGothic;
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1;
    color: #fff;
    background-color: $cOrangeDk;
    border-radius: 3px;
  }
  &__header5 {
    margin: 1em 0 1.3em;
    padding: 5px 10px;
    font-family: $fontGothic;
    font-weight: 900;
    font-size: .9em;
    line-height: 1;
    text-align: center;
    color: $cTheme;
    border-bottom: 2px solid $cThemeMd;
  }
  &__header6 {
    margin: 1em 0 .5em;
    font-size: .9em;
    font-weight: 900;
  }
  & section {
    &:not(:first-of-type) {
      margin-top: 2em;
    }
  }
  & p {
    font-size: .9rem;
    line-height: 1.7;
  }
  & p:not(:first-of-type) {
    margin-top: .75em;
  }
  & .catch {
    margin-top: .75em;
    font-size: 1.2em;
    font-weight: 900;
    color: $cTheme;
  }
  &__list,
  &__order-list {
    margin-top:.7em;
    & > li {
      position: relative;
      padding-left: 1em;
      font-family: $fontGothic;
      font-size: 15px;
      line-height: 1.2;
      color: $cTheme;
      &::before {
        position: absolute;
        top: 4px;
        left: 0;
        content: "";
        width: .8em;
        height: .8em;
        border-radius: 50%;
        background-color: $cTheme;
      }
    }
    & > li:not(:first-of-type) {
      margin-top: .5em;
    }
    &.for-only-links-with-image {
      display: flex;
      justify-content: center;
      gap: 10px;
      width: 100%;
      margin-top: 15px;
      & > li {
        display: grid;
        place-content: center;
        position: unset;
        width: 100%;
        height: 2.2em;
        padding-left: 0;
        font-size: 1.1em;
        font-weight: 900;
        line-height: 1;
        border: 2px solid $cTheme;
        &::before {
          position: absolute;
          width: 0;
        }
        &:not(:first-of-type) {
          margin-top: 0;
        }
      }
    }
  }
  &__main-copy {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }
  &__order-list {
    padding-left: 1em;
    list-style: decimal;
    & > li {
      padding-left: 0;
      &::before {
        position: unset;
      }
    }
  }
  &__description-list {
    padding: 1em;
    font-family: $fontGothic;
    font-size: .8em;
    background-color: $cOrangeLt;
    & > dt {
      margin-bottom: .5em;
      font-size: 1.1em;
      text-align: center;
      font-feature-settings: "palt" 1;
      color: $cTheme;
    }
    & > dd {
      text-align: justify;
      line-height: 1.5;
      color: #333;
    }
  }
  & .self-publish-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  & .image-wrapper {
    margin-bottom: unset;
  }
  & .banners {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    &__list {
      flex-basis: calc((100% - .5em) / 2);
    }
  }
}

.latest-books {
  &__wrapper {
    display: none;
  }
}
// #container {
//   position: relative;
//   background-color: $cWhite;
//   transition: .5s;
//   z-index: 0;
//   & main {
//     position: relative;
//     z-index: -1;
//   }
// }

// .top-page {
//   &__slider {
//     display: grid;
//     place-content: center;
//     width: 100%;
//     height: 50vh;
//   }
// }

// .latest-books {
//   font-size: .85rem;
//   line-height: 1.5;
// }

// .self-publish-info {
//   &__consultation-banner {
//     width: 100%;
//     height: 300px;
//     background-color: red;
//   }
// }

// // .sideを前面に出すためのローカル・スタッキング・コンテキストの親要素を仕掛ける。
// #main-content {
//   position: relative;
//   z-index: 0;
//   & main {
//     position: relative;
//     z-index: -1;
//   }
// }

// .catch {
//   padding-top: 55px;
//   font-size: .95rem;
//   font-weight: 600;
//   @include mq(md) {
//     padding-top: $navHeight;
//   }
//   @include mq(lg) {
//     padding-top: 90px;
//     font-size: 1.1rem;
//   }
// }

// .footer {
//   .catch {
//     padding: 0;
//   }
// }

// .main-title {
//   margin: 100px 0 10px;
//   text-align: center;
//   @include mq(md) {
//     margin: 100px 0 20px;
//   }
// }

// .sub-title {
//   margin: 20px 0 10px;
//   text-align: center;
// }


// // footerから先に作る。
// // 内容がほぼ同じであれば、
// // ハンバーガー・メニューのない構造が簡単なfooterから先に作り
// // それをheaderに汎用するという方針。
// // その際、同じものをコピーして持ってくることに何の違和感も持つ必要は全くない。
// .header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 50px;
//   z-index: 100;
//   @include mq(md) {
//     height: $navHeight;
//   }

//   &.triggered {
//     background-color: rgba($color: $cWhite, $alpha: 0.9);
//     // 水平方向のオフセット 垂直方向のオフセット ぼかし距離 スプレッド距離 色
//     box-shadow: 0 0 25px -10px rgba($color: $cBlack, $alpha: 1);
//   }

//   &__inner {
//     @extend .content-width;
//     display: flex;
//     height: 50px;
//     justify-content: space-between;
//     align-items: center;
//     // height: 100%;
//     @include mq(md) {
//       margin-top: 15px;
//     }
//   }

//   & .logo {
//     width: min-content;
//     display: flex;
//     // justify-content: center;
//     align-items: center;
//     gap: 10px;
//     @include mq(md) {
//       flex-direction: row;
//       // justify-content: flex-start;
//     }
//     &__wrapper {
//       width: 110px;
      
//     }
//     &__wrapper.large {
//       width: 130px;
//       @include mq(md) {
//         width: 175px;
//       }
//     }
//   }
  
//   &__nav {
//     display: none;
//     @include mq(lg) {
//       display: flex;
//       margin-top: 20px;
//       margin-left: auto;
//       gap: 30px;
//       width: fit-content;
//       font-weight: 600;
//       line-height: 1.1;
//       text-align: center;
//     }
//     @include mq(xl) {
//       margin-top: 0;

//     }
//   }

//   &__link {
//     position: relative;
//     &:hover > .header__sub-link {
//       transform: translateY(0);
//       visibility: visible;
//       opacity: 1;
//       @for $idx from 1 through 5 {
//         &:nth-child(#{$idx}) {
//           transition-delay: $idx * 0.1s;
//         }
//       }
//     }
//     &:not(:first-of-type)::before {
//       content: "";
//       position: absolute;
//       top: -2px;
//       left: -15px;
//       height: 20px;
//       border-left: 1px solid $cBlack;
//     }
//   }
  
//   &__title {
//     color: $cBlack;
//     > a {
//       color: $cBlack;
//     }
//     > .br-retrun {
//       @include mq(md) {
//         display: block;
//         margin-top: -7px;
//       }
//       @include mq(xl) {
//         display: inline;
//       }
//     }
//     br {
//       @include mq(md) {
//         display: block;
//       }
//       @include mq(xl) {
//         display: none;
//       }
//     }
//   }

//   &__sub-link {
//     position: absolute;
//     left: -25%;
//     width: max-content;
//     font-size: 0.9em;
//     line-height: 1;
//     background-color: rgba($color: $cTheme, $alpha: .8);
//     transform: translateY(-30px);
//     visibility: hidden;
//     opacity: 0;
//     transition: .4s;
//     &.architectural-link {
//       bottom: -35px;
//     }
//     &.buddhist-statue-link {
//       bottom: -65px;
//     }
//     &.kyooudou-link {
//       bottom: -95px;
//     }
//     & > a {
//       display: inline-block;
//       padding: 7px 14px;
//       color: $cWhite;
//     }
//   }
// }

// .event-schedule {
//   position: relative;
//   margin: 115px 0 120px;
//   z-index: 2;
//   @include mq(md) {
//     margin: 0 0 130px;
//   }
//   @include mq(lg) {
//     margin: 0 0 200px;
//   }
//   &::before {
//     @include mq(md) {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       content: "";
//       width: 100%;
//       height: 90%;
//       background-image: url(../images/bg_shaka.jpg);
//       // background: linear-gradient(to right, transparent 0%, transparent 100%, #fff 100%), url(../images/bg_shaka.jpg);
//       background-repeat: no-repeat;
//       background-position: left;
//       background-size: cover;
//       z-index: 2;
//     }
//     @include mq(lg) {
//     }
//   }
//   &__inner {
//     position: relative;
//     z-index: 3;
//     margin: 0 auto;
//     padding: 0 20px;
//     @include mq(md) {
//       width: 90%;
//       padding: 15px 40px 40px;
//       background-color: rgba($color: $cWhite, $alpha: 0.7);
//     }
//     @include mq(lg) {
//       width: 55%;
//       background-color: unset;
//     }
//     @include mq(xl) {
//       width: 40%;
//       padding: 40px;
//     }
//   }
//   &__latest4 {
//     line-height: 1;
//     & li {
//       display: flex;
//       gap: 20px;
//     }
//     & li + li {
//       margin-top: 20px;
//     }
//   }
//   &__image {
//     flex-basis: 47%;
//     aspect-ratio: 3/2;
//     @include mq(md) {
//       flex-basis: 25%;
//     }
//     @include mq(xl) {
//       flex-basis: 30%;
//     }
//     & img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
//   &__title {
//     margin-top: 10px;
//     font-size: 1.05rem;
//     font-weight: 600;
//     @include mq(lg) {
//       font-size: 1.2rem;
//     }
//   }
//   &__catch {
//     margin-top: 10px;
//     font-size: .9rem;
//     line-height: 1.2;
//     font-weight: 600;
//   }
//   &__description {
//     margin-top: 7px;
//     font-size: .8rem;
//     line-height: 1.4;
//   }
//   &__info-link {
//     display: none;
//     // display: inline-block;
//     margin-left: 5px;
//     padding: 2px 4px;
//     font-size: .7em;
//     font-weight: 900;
//     color: $cWhite;
//     background-color: $cTheme;
//     border-radius: 2px;
//     &.active {
//       display: inline-block;
//     }
//   }
//   &__wrapper {
//     flex-basis: 47%;
//     @include mq(md) {
//       flex-basis: 65%;
//     }    
//     @include mq(xl) {
//       flex-basis: 65%;
//     }
//   }
//   & .btn {
//     margin: 40px 0 0;
//   }
// }

// .chapter {
//   @extend .content-width;
//   @extend .mb-lg;
//   &__inner {
//     @extend .flex;
//     gap: 20px;
//     @include mq(lg) {
//       gap: 30px;
//     }
//   }
//   &__item {
//     @include mq(md) {
//       // 『display: flex;』の場合、
//       // 要素（この場合は画像）を包含する要素の横幅の指定は、
//       // 『flex-basis』で設定する。
//       @include mq(md) {
//         flex-basis: 50%;
//         margin-bottom: 20px
//       }
//     }
//   }
//   &__title {
//     @extend .mb-sm;
//     @extend .font-lr;
//   }
//   &__btn {
//     text-align: center;
//     // 『display: flex;』なので、
//     // 『flex-basis』を100％としてセンタリングというわけ。
//     // 考え方を変える。
//     // flex-basis: 100%;
//     // flex-basis: 100%;
//   }
//   &.cultural-property {
//     .chapter__item {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//     }
//   }
// }

// .information {
//   position: relative;
//   width: 100%;
//   max-width: none;
//   margin-bottom: 0px !important;
//   padding-bottom: 60px;
//   z-index: 2;
//   &__header {
//     position: relative;
//     z-index: 2;
//     @extend .content-width;
//   }
//   &__inner::before {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 107%;
//     background-color: $cThemeOpaLt;
//   }
//   &__container {
//     position: relative;
//     @extend .content-width;
//     line-height: 1.4;
//     text-align: center;
//     z-index: 2;
//   }
//   &__name {
//     padding: 20px;
//     background-color: $cWhite;
//   }
//   &__main-name {
//     font-size: 1.2rem;
//     font-weight: 500;
//     letter-spacing: 2px;
//     & .attached {
//       display: block;
//       letter-spacing: 0;
//     }
//     & .attached.small {
//       font-size: .95rem;
//     }
//     & .attached.minimum {
//       font-size: .8rem;
//     }
//   }
//   &__sub-name {
//     margin-top: 5px;
//     line-height: 1.5;
//     & .wrapper {
//       display: flex;
//       justify-content: center;
//       gap: 1em;
//       @include mq(md) {
//         display: block;
//       }
//       @include mq(lg) {
//         display: flex;
//         gap: .5em;
//       }
//     }
//     & br {
//       display: none;
//       @include mq(md) {
//         display: block;
//       }
//       @include mq(lg) {
//         display: none;
//       }
//     }
//     @include mq(md) {
//       display: flex;
//       justify-content: center;
//       gap: 1.5em;
//     @include mq(lg) {
//       gap: 2em;
//     }
//     }
//   }
//   & .for-map {
//     font-size: 1.1rem;
//   }
//   &__address-tel {
//     font-style: unset;
//     color: $cBlack;
//     .phone-number {
//       font-size: 1.2rem;
//       font-weight: 600;
//     }
//   }
//   &__title {
//     margin-top: 20px;
//     font-size: .9rem;
//     letter-spacing: 1px;
//     color: $cTheme;
//   }
//   &__opening-hours {
//     & > .wrapper {
//       display: flex;
//       justify-content: center;
//       gap: 30px;
//     }
//     & > span {
//       font-size: .8rem;
//     }
//   }
//   &__route {
//     margin-top: 15px;
//     .wrapper {
//       background-color: rgba($color: $cWhite, $alpha: 0.4);
//     }
//     .wrapper + .wrapper {
//       margin-top: 15px;
//       @include mq(md) {
//         margin-top: 0;
//       }
//     }
//     @include mq(md) {
//       display: flex;
//       justify-content: center;
//       gap: 1em;
//       & .wrapper {
//         flex-basis: 100%;
//       }
//     }
//     dt {
//       padding: 2px;
//       font-family: "Noto Sans JP";
//       font-size: .8rem;
//       color: $cTheme;
//       background-color: $cThemeOpaQt;
//     }
//     dd {
//       padding: 5px;
//     }
//     dd + dd {
//       border-top: 1px dotted $cThemeOpaQt;
//     }
//   }
// }

// // .main-contentに囲まれた、
// // .side.left, main, .side.right　となっている位置関係を
// // ローカル・スタッキング・コンテキストで解決する。
// // .main-contentにローカル・スタッキング・コンテキストをかけて、
// // .sideにz-indexを1で解決
// .side {
//   position: fixed;
//   top: 70%;
//   transform: translateY(-50%);
//   transition: all ease 0.5s;
//   visibility: hidden;
//   opacity: 0;
//   z-index: 10;
//   @include mq(xl) {
//     &.inview {
//       visibility: visible;
//       opacity: 1;
//       &.left {
//         top: 55%;
//         left: 50px;
//       }
//       &.right {
//         right: 50px
//       }
//     }
//   }
//   & .animate-title {
//     position: relative;
//     vertical-align: middle;
//     font-size: .75rem;
//     font-size: .75rem;
//     letter-spacing: 2px;
//     color: $cBlack;
//   }
//   &.left {
//     left: -50px;
//     & .logo {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 10px;
//       &__wrapper {
//         height: 90px;
//       }
//       &__img {
//         height: 100%;
//       }
//       & .animate-title:not(:first-of-type) {
//         margin-left: 80px;
//       }
//     }
//   }
//   &.right {
//     right: -50px;
//     .side__inner {
//       transform: rotate(90deg);
//       transform-origin: top right;
//     }
//   }
// }

// .icon {
//   position: relative;
//   &::before {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     left: -22px;
//     width: 1em;
//     height: 1em;
//     content: '';
//     color: $cBlack;
//   }
//   &.facebook::before {
//     @include bg($image: "../images/facebook.svg");
//   }
//   &.twitter::before {
//     @include bg($image: "../images/twitter.svg");
//   }
// }


// .footer {
//   position: relative;
//   z-index: 10;
//   width: 100%;
//   font-size: .9rem;
//   line-height: 1.2;
//   color: #fff;
//   background-color: $cBlack;
//   padding: 60px 5%;
//   z-index: 2;
//   & .logo {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 15px;
//     margin-bottom: 15px;
//     &__wrapper {
//       width: 115px;
//     }
//     &__wrapper.large {
//       width: 165px;
//     }
//   }
//   &__nav {
//     margin: 15px 0;
//     & > ul {
//       display: flex;
//       justify-content: center;
//       gap: 20px;
//     }
//     & a {
//       color: $cWhite;
//     }
//   }

//   &__copyright {
//     text-align: center;
//   }
// }


// // 今回は不要　参考資料として残している //////////////////////////////////////////////////////////////
// // 
// // .travel {
// //   @extend .content-width;
// //   @extend .mb-lg;
// //   // インナーの影が配置画像で隠れてしまう件、
// //   // 『ローカル・コンテキスト』を使って
// //   // z-indexの値で要素を管理する。
// //   // 1. 『ローカル・コンテキスト』の領域を確保する。
// //   //     position: relative;
// //   //     z-index: 0;
// //   // 2. 背面に送りたい要素に対して、
// //   //     position: relative;
// //   //     z-index: -1;
// //   // これだけ！！！　知らなかった。。。
// //   &__inner {
// //     // 『ローカル・コンテキスト』親要素をオン。
// //     position: relative;
// //     z-index: 0;
// //     @extend .flex;
// //     justify-content: space-between;
// //     padding: 15px;
// //     background-color: $cBgGray;
// //     @include mq(md) {
// //       padding: 50px;
// //     }
// //     @include mq(xl) {
// //       padding: 50px 150px;
// //     }
// //   }
// //   &__img {
// //     height: 300px;
// //     @extend .mb-sm;
// //     transition: box-shadow 1s ease 2.2s;
// //     // ローカル・コンテキストのやり方
// //     // // 現在、『ローカル・コンテキスト』をオン。
// //     // // // 影を擬似要素にする時は外す。
// //     // &::before {
// //     //   position: absolute;
// //     //   top: 0;
// //     //   left: 0;
// //     //   width: 100%;
// //     //   height: 100%;
// //     //   content: '';
// //     //   box-shadow: inset 0 0 30px $cBlack;
// //     //   opacity: 0;
// //     //   z-index: 3;
// //     // }
// //     // &.inview::before {
// //     //   // @include anime($name: opacity, $dur: 1.75s, $dly: 2.5s);
// //     // }
// //     @include mq(md) {
// //       flex-basis: 47%;
// //     }
// //     @include mq(lg) {
// //       height: 400px;
// //     }
// //     &.inview {
// //       box-shadow: inset 0 0 30px $cBlack;
// //     }
// //     & > img {
// //       opacity: 1;
// //       // 『ローカル・コンテキスト』子要素オン。
// //       position: relative;
// //       z-index: -1;

// //       width: 100%;
// //       height: 100%;
// //       object-fit: cover;
// //     }
// //   }

// //   &__texts {
// //     @extend .pb-sm;
// //     @include mq(md) {
// //       display: flex;
// //       align-items: flex-end;
// //       flex-basis: 47%;
// //     }
// //     &.inview {
// //       & .travel__title::before {
// //         @include anime($name: scaleX, $dur: .8s, $dly: 1.6s);
// //       }
// //     }
// //   }
// //   &__title {
// //     position: relative;
// //     &::before {
// //       display: none;
// //       position: absolute;
// //       top: 50%;
// //       transform: translateY(-50%);
// //       left: -120px;
// //       content: '';
// //       width: 100px;
// //       height: 1px;
// //       background-color: $cBlack;
// //       transform: scaleX(0);
// //       z-index: 2;
// //       transform-origin: right;
// //       // これもそう。考え方！
// //       // 初期状態を作る => メディアクエリで切り替えたい=>スマホ表示はなし、
// //       // PCで有りとなったときにこう書けるか？
// //       @include mq(lg) {
// //         display: block;
// //       }
// //     }
// //   }
// //   &__description {
// //     @include mq(lg) {
// //       margin-bottom: 40px;
// //     }
// //   }
// // }

// // @keyframes scaleX {
// //   0% {
// //     transform: scaleX(0);
// //   }
// //   100% {
// //     transform: scaleX(1);
// //   }
// // }

// // @keyframes opacity {
// //   0% {
// //     opacity: 0;
// //   }
// //   100% {
// //     opacity: 1;
// //   }
// // }

// // .popular {
// //   // セクション全体の左右にマージンを設けたい。
// //   // 背景のアミは左右いっぱいまでにしたレイアウトを
// //   // 実現させるためのアイデア。

// //   // あえて、『__inner』要素を設けてその擬似要素へ
// //   // 色をつける作戦。
// //   // なお、上下自由な位置から末端までアミを広げるネタも
// //   // 入っている。CSS必見。

// //   // そしてそして、小見出しが外れることはよくある。
// //   // その場合は小見出しにマージンを適用させる。
// //   &__header {
// //     @extend .content-width;
// //   }
// //   &__inner {
// //     position: relative;
// //     z-index: 2;
// //     &::before {
// //       content: "";
// //       position: absolute;
// //       bottom: 0;
// //       left: 0;
// //       width: 100%;
// //       height: 90%;
// //       background-color: $cBgGray;
// //     }
// //   }
// //   &__container {
// //     // 背景画像のz-indexの前後の操作について、
// //     // 思い込みを無くす。
// //     // z-indexを使いたい『ためだけに』
// //     // position: relative;
// //     // を使っていい。
// //     position: relative;
// //     @extend .flex;
// //     @extend .content-width;
// //     z-index: 2;
// //     @include mq(md) {
// //       justify-content: space-between;
// //     }
// //   }
// //   &__item {
// //     // 要素（イメージなど）をflexでレイアウトしている時に、
// //     // 間隔を調整したい時の要領。
// //     @include mq(md) {
// //       flex-basis: 47%;
// //     }
// //     @include mq(lg) {
// //       flex-basis: 25%;
// //     }
// //     @include mq(xl) {
// //       flex-basis: 23%;
// //     }
// //   }
// //   &__img {
// //     height: 150px;
// //     margin-bottom: 5px;
// //     @include mq(lg) {
// //       height: 335px;
// //     }
// //     & > img {
// //       width: 100%;
// //       height: 100%;
// //       object-fit: cover;
// //       // 画像の位置を変えることができるプロパティ
// //       // object-position: top;
// //     }
// //   }
// //   &__title {
// //     @extend .mb-sm;
// //     @extend .font-md;
// //   }
// //   &__btn {
// //     // ここも大事、反対のことをやりがち。
// //     // 上の『houses』と同じ記述をしている。
// //     // それは構わない。
// //     // 共通化より、修正のしやすさを優先しているから。
// //     text-align: center;
// //     flex-basis: 100%;
// //     @extend .mb-lg;
// //   }
// // }