$cWhite: white;
$cBlackDeep: #000;
$cBlack: #2d2d2d;
$cBlackLt: #d8d7d7;
$cBgGray: #eaebe6;
$cTheme: #4F2472;
$cThemeMd: #bcaacb;
$cThemeLt: #e2dbe7;
$cThemeUl: #f0e9f5;
$cThemeOpaQt: rgba($color: #4F2472, $alpha: .25);
$cThemeOpaMd: rgba($color: #4F2472, $alpha: .1);
$cThemeOpaLt: rgba($color: #4F2472, $alpha: .03);
$contentMaxWidth: 1080px;
$navHeight: 80px;