$cWhite: white;
$cBlackDeep: #000;
$cBlack: #2d2d2d;
$cBlackMd: #4b4b4b;
$cBlackLt: #d8d7d7;
$cBgGray: #eaebe6;
$cTheme: #26322A;
$cThemeMd: #63826d;
$cThemeLt: #86c29a;
$cThemeUl: #e2fdeb;
$cThemeOpaQt: rgba($color: #4F2472, $alpha: .25);
$cThemeOpaMd: rgba($color: #4F2472, $alpha: .1);
$cThemeOpaLt: rgba($color: #4F2472, $alpha: .03);
$contentMaxWidth: 1080px;
$navHeight: 120px;
$fontGothic: "Noto Sans JP", sans-serif;
$fontRym: "Noto Serif", serif;