@charset "UTF-8";

body {
	background-color: #EEE;
	text-align: center;
}
div#wrapper {
	width: 960px;
	text-align: left;
	background-color: #FFF;
	margin: 10px auto;
	border-radius: 5px;
	border: solid 1px #666;
	box-shadow: 0px 0px 10px #666;
}
div#wrapper div#header {
	padding: 10px 30px;
	background-color: #4E626B;
	border-radius: 5px 5px 0px 0px;
}
div#wrapper div#header h1 {
	color: #FFF;
	text-shadow: 0px 0px 10px #000;
	font-size: 72px;
	padding: 10px 0px 0px 0px;
	margin: 0px;
	font-family: "Myriad Pro","Verdana","Arial", "Helvetica", "sans-serif";
}
div#wrapper div#header p {
	color: #FFF;
	text-shadow: 0px 0px 5px #000;
}
div#wrapper div#container {
	padding: 0px 20px;
}
div#wrapper div#footer {
	width: 940px;
	border-top: solid 1px #CCC;
	clear: both;
	padding: 10px 0px;
	margin: 0px auto;
	text-align: center;
	font-size: 12px;
}
ul.example_pages {
	border: solid 1px #CCC;
	padding: 15px 30px;
}
ul.example_pages li {
	padding: 5px 0px;
}